<.flash_group flash={@flash} />


  <main>

    <%= if @current_user do %>
        <%= live_render(@conn, ValueBetWeb.HomeLive.Index, session: %{"current_user" => @current_user}) %>
    <% else %>
          <%= live_render(@conn, ValueBetWeb.HomeLive.Index, session: %{"current_user" => nil}) %>
    <% end %>

  </main>

