<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100 [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="ValueBet" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
<body class="h-screen bg-white overflow-y-auto">

  <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
    <%= if @current_user do %>

      <%= if Enum.any?(@current_user.user_roles, fn role -> role.role_id == 1 end) and
                Enum.any?(@current_user.user_roles, fn role -> role.role_id == 2 end) do %>

          <!-- <p>User has both roles 1 and 2. - admin</p> -->

        <li>
          <.link
            href={~p"/teams"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Configure Teams
          </.link>
        </li>

        <li>
          <.link
            href={~p"/leagues"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Configure League
          </.link>
        </li>

        <li>
          <.link
            href={~p"/competitions"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Configure Competition
          </.link>
        </li>

        <li>
          <.link
            href={~p"/fixtures"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Configure Games
          </.link>
        </li>

        <li>
          <.link
            href={~p"/users/list"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Manage Users
          </.link>
        </li>

        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings 
          </.link>
        </li>

        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          {@current_user.email}
        </li>
        
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out 
          </.link>
        </li>
      <% else %>
        <!-- <p>User does not have both roles 1 and 2. - normal user</p> -->

        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings 
          </.link>
        </li>

        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          {@current_user.email}
        </li>
        
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out 
          </.link>
        </li>
      <% end %>

    <% else %>
      <li>
        <.link
          href={~p"/users/register"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Register
        </.link>
      </li>
      <li>
        <.link
          href={~p"/users/log_in"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Log in
        </.link>
      </li>
    <% end %>
  </ul>

  <header class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
      <div class="flex items-center gap-4">
        <a href="/">
          <img src={~p"/images/logo.svg"} width="36" />
        </a>
        <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
          ValueBet
        </p>
      </div>

      <%= if @current_user do %>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
              <li>
                <.link
                  href={~p"/bet/history"}
                  class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                >
                  My bets history
                </.link>
              </li>
            </ul>
        </div>
      <% else %>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          some information for general users here 
        </div>
      <% end %>
    </div>
  </header>

  <div class="overflow-y-auto h-screen">
    {@inner_content}
  </div>
</body>

</html>
